<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EJS Is Fun</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/auth/google">Google</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/facebook">Facebook</a>
      </li>
    </ul>
  </nav>