<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oauth Appication</title>
</head>
<body class="container">
     <%- include('./partials/navbar'); %>
</body>
</html>